<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="366" border="1">
    <tr>
      <td colspan="2"><div align="center">
        <input type="text" name="textfield" />
      </div></td>
      <td><div align="center">
        <input type="submit" name="Submit" value="Search" />
      </div></td>
    </tr>
    <tr>
      <td width="104"><div align="center">Register Number </div></td>
      <td width="108"><div align="center">Upload status </div></td>
      <td width="132"><div align="center">Date</div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
