<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="261" border="1">
    <tr>
      <td width="37">Name</td>
      <td colspan="3"><input type="text" name="textfield" /></td>
      <td width="58"><input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td>Name</td>
      <td width="42">Phone</td>
      <td width="37">Email</td>
      <td width="53">Address</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">Edit</a></p>
      <p><a href="#">Delete</a></p></td>
    </tr>
    <tr>
      <td colspan="5"><div align="center"><a href="#">Add New</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
